{% extends 'base.html' %}
{% block modul_menu %}
  {% include 'crm/includes/crm_menu.html' %}
{% endblock %}
{% block content %}
  <h1>Сделки</h1>
  <br><br><br>
  <a href="{% url 'crm:crm_deal_create' %}">Создать сделку</a>
  <br>
  <div class="container-fluid">
    <div class="row">
      {% for status in status_list %}
        <div class="col" style="margin: 10px">
          {{ status.status }}
          {% for elem in object_list %}
            {% if elem.status == status %}
              <div>
                <a class="card text-decoration-none"
                   style="border: black solid;
                   background: antiquewhite;
                   margin: 10px;"
                   href="{% url 'crm:crm_deal_detail' elem.pk %}">
                  {{ elem.title }}<br>
                  Статус: {{ elem.status.status }}<br>
                  Клиент: {{ elem.customer.sur_name }}</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <a href="{% url 'crm:crm_main' %}">Вернуться в выбору блока</a>
{% endblock %}